In a particular database you can have different collections in mongo db and in sql in a database you can have multiple tables

In [37]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://vabenso:Leje-tek1@cluster0.afbbkib.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

In [38]:
client

MongoClient(host=['ac-rpvlv3v-shard-00-01.afbbkib.mongodb.net:27017', 'ac-rpvlv3v-shard-00-00.afbbkib.mongodb.net:27017', 'ac-rpvlv3v-shard-00-02.afbbkib.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-fm6c4j-shard-0', tls=True)

In [39]:
database = client['mlopsprojects']

In [40]:
collection = database['learning']

In [41]:
collection

Collection(Database(MongoClient(host=['ac-rpvlv3v-shard-00-01.afbbkib.mongodb.net:27017', 'ac-rpvlv3v-shard-00-00.afbbkib.mongodb.net:27017', 'ac-rpvlv3v-shard-00-02.afbbkib.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-fm6c4j-shard-0', tls=True), 'mlopsprojects'), 'learning')

In [42]:
data = {
    "coursename":"genai",
    "instructorname":"sunny",
    "modeofsession":"english",
    "platform":"ineuron",
}
data

{'coursename': 'genai',
 'instructorname': 'sunny',
 'modeofsession': 'english',
 'platform': 'ineuron'}

In [43]:
collection.insert_one(data)

In [53]:
all_record = collection.find()

In [54]:
for record in all_record:
    print(record)

{'_id': ObjectId('65fb70ae1f074b120e13ad2e'), 'coursename': 'genai', 'instructorname': 'sunny', 'modeofsession': 'english', 'platform': 'ineuron'}

In [55]:
collection.insert_many(
    [
        {
            "coursename":"genai",
            "instructorname":"sunny",
            "modeofsession":"english",
            "platform":"ineuron",
        },
        {
            "coursename":"mlops",
            "instructorname":"sunny",
            "modeofsession":"english",
            "platform":"ineuron",
        },
        {
            "coursename":"datascience",
            "instructorname":"sunny",
            "modeofsession":"english",
            "platform":"ineuron",
        }
    ]
)

Here is where we implement the unique thing about our package

In [75]:
import pandas as pd
import json

class mongodb_operation:

    def __init__(self,client_url: str, database_name: str, collection_name: str=None):
        self.client_url=client_url
        self.database_name=database_name
        self.collection_name=collection_name

    def create_client(self):
        client=MongoClient(self.client_url)
        return client


    def create_database(self):
        client=self.create_client()
        database=client[self.database_name]
        return database
        
    def create_collection(self,collection=None):
        database=self.create_database()
        collection=database[collection]
        return collection

    def insert_record(self,record:dict,collection_name:str):
        if type(record)==list:
            for data in record:
                if type(data)!= dict:
                    raise TypeError("record must be in the dict")
            collection=self.create_collection(collection_name)
            collection.insert_many(record)
        elif type(record)==dict:
            collection=self.create_collection(collection_name)
            collection.insert_one(record)

    def bulk_insert(self,datafile:str,collection_name:str=None):
        self.path=datafile

        if self.path.endswith('.csv'):
            data=pd.read_csv(self.path,encoding='utf-8')

        elif self.path.endswith('.xlsx'):
            data=pd.read_excel(self.path,encoding='utf-8')
            
        datajson=json.loads(data.to_json(orient='record'))
        collection=self.create_collection()
        collection.insert_many(datajson)

In [76]:
client_url = "mongodb+srv://vabenso:Leje-tek1@cluster0.afbbkib.mongodb.net/?retryWrites=true&w=majority"
database = "mlopsprojects"
collection_name = "learning"

In [77]:
mongo = mongodb_operation(client_url, database, collection_name)

In [78]:
mongo.insert_record({"name":"sunny","designation":"data scientist","salary":"10k"},collection_name)

In [79]:
mongo.insert_record([{"name":"sunny","designation":"data scientist","salary":"10k"},
{"name":"sudhanshu","designation":"sr. data scientist","salary":"150k"},
{"name":"krish","designation":"lead data scientist","salary":"70k"}
],collection_name)